body {
    background-color: black;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    overflow-x: hidden;
}
.container-fluid {
    max-width: 1200px;
}
.position-relative {
    position: relative;
}
h1 {
    font-size: 90px;
    line-height: 150%;
    font-weight: 900;
}
h2 {
    font-size: 56px;
    line-height: 150%;
    font-weight: 900;
    margin-bottom: 40px;
    position: relative;
    width: max-content;
}
h3 {
    font-size: 48px;
    line-height: 120%;
    font-weight: 500;
}
h4 {
    font-size: 36px;
    line-height: 120%;
    font-weight: 500;
}
h5 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
h6 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover {
    color: #2e9389;
}
button {
    min-width: 175px;
    display: inline-block;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    border: 1px solid #439e95;
    background-color: #2E9389;
    border-radius: 8px;
    color: #fff;
    transition: all 0.3s;
}
button:hover {
    background-color: #4da39b;
    border-color: #439e95;
}
.gradient {
    background: linear-gradient(91deg, #6E81CB 0.84%, #72B8C8 50%, #71C9A4 99.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header {
    padding: 48px 0;
}
.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-block .left-group {
    display: flex;
    align-items: center;
}
.header-block .logo img {
    width: 64px;
    height: auto;
}
.bg-img {
    position: absolute;
    top: -160px;
    z-index: -1;
    width: 100vw;
    height: 100%;
    min-height: 664px;
    object-fit: cover;
}
.header-menu {
    margin-left: 40px;
    position: relative;
}
.header-menu > *+* {
    margin-left: 40px;
}
.header-menu a.active {
    color: #2E9389;
}
.header-menu a:hover svg {
    fill: #2E9389;
}
.header-menu a svg {
    width: 20px;
    height: 20px;
}
.industries-section {
    padding-bottom: 0;
}
.industries-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    border-top: 1px solid #313131;
    padding: 24px 0;
    border-bottom: 1px solid #2E9389;
}
.industries-list >* {
    color: #484848;
}
.services-list {
    display: none;
    position: absolute;
    background: #050505;
    z-index: 5;
    padding: 16px 24px;
    width: max-content;
    margin: 0;
    margin-top: 16px;
}
.services-list.active {
    display: block;
}
.services-list a {
    display: block;
    padding: 8px;
}
.services-list a:hover {
    background: #2E9389;
    text-decoration: none;
    color: #fff;
}
.all-services.active svg {
    transform: rotate(180deg);
    fill: #2E9389;
}
a.all-services {
   display: inline-flex;
   align-items: center;
}
.team-section .content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.team-section .team-item {
    border: 1px solid #439e95;
    border-radius: 24px;
    width: calc((100% - 48px) / 4);
    text-align: center;
    padding: 24px;
}
.team-section .team-item h5 {
    margin: 24px 0 0;
}
.team-section .team-item p {
    color: #a3a3a3;
    margin: 8px 0 0;
}
.team-section .bg-left {
    position: absolute;
    right: 0;
    top: -360px;
    width: 520px;
}
.header-section {
    padding: 0;
    position: relative;
}
.header-section .container-fluid {
    min-height: calc(100vh - 100px);
}
.header-section h1 {
    position: relative;
    width: max-content;
}
.header-section h1::before,
.header-section h1::after,
.line::before {
    position: absolute;
    content: "";
    height: 20px;
    border-radius: 1em;
    width: 180px;
    background: linear-gradient(90deg,rgba(46,147,137,0),#2e9389 200px);
}
.header-section h1::before {
    right: -160px;
    top: 56px;
}
.header-section h1::after {
    background-color: #2e9389;
    left: 0;
    bottom: 56px;
}
.line::before {
    top: 34px;
    right: -160px;
}
.header-section .text-block,
.header-section h1 span {
    position: relative;
}
.show-mobile {
    display: none;
}
.header-section .text-block .ml {
    margin-left: 200px;
}
.hero-button button {
    min-width: 380px;
    margin-top: 80px;
    padding: 24px;
    font-size: 18px;
    line-height: 24px;
}
.header-section .text-block > *+* {
    margin-top: 24px;
}
.header-section .text-block h6 {
    color: #a3a3a3;
}
.header-section svg {
    left: 420px;
    position: absolute;
    bottom: 13px;
    background: #fff;
    border-radius: 24px;
}
.color-change {
    animation: colorChange 1s infinite alternate;
}
.color-change-2 {
    animation: colorChange2 1s infinite alternate;
}
@keyframes colorChange {
    from {
        fill: #2E9389;
    }
    to {
        fill: #BFBFBF;
    }
}
@keyframes colorChange2 {
    from {
        fill: #BFBFBF;
    }
    to {
        fill: #2E9389;
    }
}
/* Logos carousel */
.raves-ticker {
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 74px;
}
.raves-ticker .item {
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: fit-content;
    min-height: 74px;
    position: relative;
    cursor: default;
    background: #080808;
    padding: 24px;
    min-width: 200px;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #404040;
    border-radius: 16px;
}
.raves-ticker:hover {
    -webkit-animation-play-state: paused;
}
.raves-ticker li {
    transition: all 0.3s;
}
.raves-ticker-container {
    overflow-x: auto;
    width: 100vw;
    margin-top: 40px;
}
.raves-ticker-container::-webkit-scrollbar {
    display: none;
}
.raves-ticker-container {
    scrollbar-width: none;
}
.raves-ticker > *+* {
    margin-left: 24px;
}
@-webkit-keyframes raves-ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100rem, 0, 0);
        transform: translate3d(-100rem, 0, 0);
    }
}
@keyframes raves-ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100rem, 0, 0);
        transform: translate3d(-100rem, 0, 0);
    }
}
.raves-ticker {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: raves-ticker;
    animation-name: raves-ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}
/* end */
section {
    padding: 120px 0;
}
.about-us-section .text-block h5+h5 {
    margin-top: 24px;
}
.about-us-section img {
    position: absolute;
    right: -70px;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
.services-section .content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.services-section .content .service {
    width: calc((100% - 48px) / 3);
    border: 1px solid #439e95;
    border-radius: 8px;
    padding: 24px;
    position: relative;
}
.services-section .content .service p {
    color: #a3a3a3;
    margin-bottom: 0;
}
.services-section .content .service h6 {
    font-weight: 700;
    margin-bottom: 16px;
}
.service.animate-block {
    background: #2E9389;
    transition: all .5s ease;
}
.services-section .content .service.animate-block p {
    color: #fff;
}
.industries-items-group {
    margin-top: 80px;
}
.industries-items-group >*+* {
    margin-top: 40px;
}
.industries-item h6 {
    color: #9b9b9b;
}


.bg-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(8px);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bg-popup.active {
    opacity: 1;
    pointer-events: auto;
}
.contact-form {
    display: none;
}
.contact-form.active {
    display: block;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--Black, #000);
    box-shadow: 0px 0px 64px 0px #2E9389;
    padding: 24px;
    max-width: 480px;
    width: calc(100% - 40px);
}
#close-popup svg {
    fill: #fff;
}
a#close-popup:hover svg {
    fill: #2E9389;
}
#close-popup {
    position: absolute;
    top: 24px;
    right: 24px;
}
.contact-form form {
    margin-top: 24px;
}
#contactForm .form-group {
    position: relative;
    margin-bottom: 16px;
}
#contactForm .form-group .placeholder {
    position: absolute;
    background-color: transparent;
    cursor: auto;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    transition: all 0.3s;
}
#contactForm .form-group input {
    padding: 24px 24px 8px;
    background-color: transparent;
    font-size: 14px!important;
    color: #FFFFFF;
    border: none;
    outline: 1px solid #808080;
    border-radius: 32px;
    width: 100%;
}
#contactForm .form-group textarea {
    height: 64px;
    overflow: auto;
    resize: none;
    padding: 24px 24px 8px;
    background-color: transparent;
    font-size: 14px!important;
    color: #FFFFFF;
    border: none;
    outline: 1px solid #808080;
    border-radius: 32px;
    width: 100%;
}
#contactForm .form-group .placeholder.active {
    top: 14px!important;
    font-size: 12px;
}
#contactForm .form-group input:focus,
#contactForm .form-group textarea:focus {
    outline: 2px solid #fff;
}
#contactForm form > p {
    margin-top: 16px;
    font-size: 12px;
}
.sub-line {
    display: flex;
    margin-top: 16px;
}
.sub-line .head {
    display: flex;
}
.sub-line .head img {
    width: 24px;
    margin-right: 4px;
}
.sub-line > *+* {
    margin-left: 24px;
}
.contact-links {
    margin-top: 40px;
}
.contact-links img {
    width: 24px;
}
.contact-links h6 {
    margin-bottom: 16px;
}
.contact-links a > img {
    margin-right: 4px;
}
footer .content hr {
    color: #2E9389;
    border-top: 4px solid;
    opacity: 1;
}
.footer-text {
    display: flex;
    justify-content: space-between;
}
.contacts-section .container-fluid .col-12 {
    position: relative;
}
.img-map {
    position: absolute;
    z-index: -1;
    height: auto;
    width: 800px;
    right: 0;
}
.services-section .title {
    position: relative;
}
.bg-circles {
    position: absolute;
    top: -286px;
    right: 0;
    width: 500px;
}